<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Natural processing language</title>

</head>

<body>
  <header class="header">
    <img src="logo.png" class="logo-img">
  </header>
  <main>
    <form>
      <input id="user-name" type="text" placeholder="Enter your account"/>
      <div id="type-language"></div>
      <button id="Next">Next</button>
    </form>

    <div class="remember-me">
      <input type="checkbox">
      <span class="text">Remember me</span>
    </div> 

  </main>
  <footer class="footer">
    Copyright from 2024 &copy; 
  </footer>
</body>

</html>