.footer {
  letter-spacing: 1.2px;
  font-weight: bold;
  color: #1e1e1e;
}

#type-language {
  height: auto;
  color: green;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 10px 0px;
}